*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: poppins;
    font-size: 20px;
    color: white;
    background-color: rgba(7, 5, 27, 0.918);
}




.question input[type='radio']{
    transform: scale(1.5);
}

.echec{
    animation: echec 0.3s ease-in-out;
}

@keyframes echec {
    0%{
        transform: translateX(0px);
    }
    33%{
        transform: translateX(5px);
    }
    66%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(0px);
    }
}
