*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.743), rgba(0, 0, 0, 0.521)), url(./asset/img/backgroudn.jpeg) no-repeat center/cover;
    font-family: poppins;
}

h1{
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2.5em;
}

span {
    color: rgb(255, 171, 3);
}

.container {
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

.bg{
    color: white;
}

.container-question {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.box-question{
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 1rem;
  padding: 2rem;
  background-color: rgb(204, 140, 11);
  border-radius: 15px;
}

.box-question img {
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.956) 0px 4px 12px;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.box-question h4 {
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: black;
}

.box-question label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

.form-quizz{
   width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  color: rgb(0, 0, 0);
}

.box-question input[type='radio']{
    transform: scale(1.5);
}

.result {
    text-align: center;
    width: 500px;
    height: auto;
    border-radius: 15px;
}

.result button {
    margin-top: 1rem;
    width: 150px;
    height: 50px;
    color: rgb(255, 255, 255);
    font-size: 1.1em;
    background: rgb(0, 0, 0);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    border: 2px solid white;
}
.result button:hover {
    background: rgb(255, 255, 255);
    transition: background 0.3s ease;
    color: black;
}
